.tableCobrança{
  margin-left: 42px;
  background: #ffffff;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 1px 1px 5px rgb(226, 225, 225)
}
.containerHeaderTable{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  margin-left:  32px;
}
.subHeader{
  display: flex;
  align-items: center;
  width: 400px;
}
.subHeader2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 400px;
  gap: 15px;
}
.input-lupaCob{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      box-shadow: 5px 5px 10px rgba(218, 1, 117, 0.07);
      border-radius: 10px;
      height: 39px;
      padding: 8px;
      padding: 0px 15px 0px 15px;
  }

.noneCobrancaFind {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 5rem; 
  margin-left:  0rem;
  width: 85vw;
  background-color: #ffffff;
  border-radius: 30px;
}
.noneCobrancaFind h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  color: #F08889;
  margin-bottom: 15px ;
}
.noneCobrancaFind h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 29px;
  margin-bottom: 80px;
  color: #9B9BB2;
}