.main-tela-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tela_section_clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.1rem;
  width: 70vw;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 1.5rem 3rem;
}

.header_section_clientes_titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Nunito;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 50px;
  letter-spacing: 0.005em;
  color: #3F3F55;
}


.listagem_clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.listagem_clientes:nth-child(5) {
  margin-right: 5rem;
}

.nome_clicavel {
  cursor: pointer;
}

.nome_clicavel:hover {
  text-decoration: underline;
}

#inadimplente {
  text-align: center;
  padding: 0 0.5rem;
  border-radius: 10px;
  background-color: #F0F0F5;
  color: #971D1D;
}

#em_dia {
  padding: 0 0.5rem;
  border-radius: 10px;
  background-color: #F0F0F5;
  color: #1FA7AF;
}

.botao_cadastrar_cobranca {
  width: 50px;
  margin-right: 12rem;
}

.elementos_clientes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.elemento {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Nunito;
  font-size: 1.4rem;
  letter-spacing: 0.005em;
  color: #747488;
}

.elemento > span {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  #root {
    overflow-x: hidden;
  }
  .containerSectionCadCliente {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
  .tela_section_clientes {
    width: 60%;
  }
  .input-lupa {
    display: none;
  }

  .listagem_clientes:nth-child(4) {
    margin-right: 7rem;
  }

  .nome_clicavel {
    max-width: 130px;
  }

  .elemento-email, .elemento-telefone, .listagem_clientes-title {
    display: none;
  }
  
}