.containerCardVencido{
    height: 110px;
    min-width: 360px;
    background: #FFEFEF;
    border-radius: 30px;
    flex: none;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-right: -35px;
}
.CardVencido{
    display: flex;
    width: 81%;
    font-family: Montserrat;
}
